img{
    background: #7A7978;
    width: 25%;
}
header{
    background: #8AC4FF;
}
body{
    background: white;
}
h1{
    color: white;
}
main{
    background: #7A7978;
}
nav{
    background: #7A7978;
}